/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;
}

.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #98c379;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

.gutter pre {
  color: #999;
}
body {
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #34495e;
  background-color: #151a1f;
  margin: 0;
}
body.docs {
  padding-top: 61px;
}
@media screen and (max-width: 900px) {
  body.docs {
    padding-top: 0;
  }
}
a {
  text-decoration: none;
  color: #91b9cd;
}
a:hover {
  color: #fff;
}
a:active {
  color: #20a5d6;
}
img {
  border: none;
}
h1,
h2,
h3,
h4,
strong {
  font-weight: 600;
  color: #6fbde2;
}
code,
pre {
  font-family: "Roboto Mono", Monaco, courier, monospace;
  font-size: 0.9em;
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
}
em {
  color: #7f8c8d;
}
p {
  word-spacing: 0.05em;
}
a.button {
  padding: 0.75em 2em;
  border-radius: 2em;
  display: inline-block;
  color: #fff;
  background-color: #9abfd1;
  transition: all 0.15s ease;
  box-sizing: border-box;
  border: 1px solid #9abfd1;
}
a.button.white {
  background-color: #fff;
  color: #91b9cd;
}
.highlight {
  overflow-x: auto;
  background-color: #f8f8f8;
  padding: 0.4em 0 0;
  line-height: 1.1em;
  border-radius: 2px;
  position: relative;
}
.highlight table,
.highlight tr,
.highlight td {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}
.highlight .gutter {
  width: 1.5em;
}
.highlight .code pre {
  padding: 1.2em 1.4em;
  line-height: 1.5em;
  margin: 0;
}
.highlight .code .line {
  min-height: 1.5em;
}
.highlight.html .code:before,
.highlight.js .code:before,
.highlight.bash .code:before,
.highlight.css .code:before {
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  text-align: right;
  font-size: 0.75em;
  padding: 5px 10px 0;
  line-height: 15px;
  height: 15px;
  font-weight: 600;
}
.highlight.html .code:before {
  content: "HTML";
}
.highlight.js .code:before {
  content: "JS";
}
.highlight.bash .code:before {
  content: "Shell";
}
.highlight.css .code:before {
  content: "CSS";
}
#main {
  position: relative;
  z-index: 1;
  padding: 0 60px 30px;
  overflow-x: hidden;
}
#nav .nav-link {
  cursor: pointer;
}
#nav .nav-dropdown-container .nav-link:hover:not(.current) {
  border-bottom: none;
}
#nav .nav-dropdown-container:hover .nav-dropdown {
  display: block;
}
#nav .nav-dropdown-container.language,
#nav .nav-dropdown-container.ecosystem {
  margin-left: 20px;
}
#nav .nav-dropdown-container .arrow {
  pointer-events: none;
}
#nav .nav-dropdown {
  display: none;
  box-sizing: border-box;
  max-height: calc(100vh - 61px);
  overflow-y: auto;
  position: absolute;
  top: 100%;
  right: -15px;
  background-color: #fff;
  padding: 10px 0;
  border: 1px solid #ddd;
  border-bottom-color: #ccc;
  text-align: left;
  border-radius: 4px;
  white-space: nowrap;
}
#nav .nav-dropdown li {
  line-height: 1.8em;
  margin: 0;
  display: block;
}
#nav .nav-dropdown li > ul {
  padding-left: 0;
}
#nav .nav-dropdown li:first-child h4 {
  margin-top: 0;
  padding-top: 0;
  border-top: 0;
}
#nav .nav-dropdown a,
#nav .nav-dropdown h4 {
  padding: 0 24px 0 20px;
}
#nav .nav-dropdown h4 {
  margin: 0.45em 0 0;
  padding-top: 0.45em;
  border-top: 1px solid #eee;
}
#nav .nav-dropdown a {
  color: #7dc4e5;
  font-size: 0.9em;
  display: block;
}
#nav .nav-dropdown a:hover {
  color: #91b9cd;
}
#nav .arrow {
  display: inline-block;
  vertical-align: middle;
  margin-top: -1px;
  margin-left: 6px;
  margin-right: -14px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #ccc;
}
#header {
  background-color: #000;
  height: 40px;
  padding: 10px 60px;
  position: relative;
  z-index: 2;
}
body.docs #header {
  position: fixed;
  width: 100%;
  top: 0;
}
body.docs #nav {
  position: fixed;
}
#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 30px;
  top: 10px;
  height: 40px;
  line-height: 40px;
}
#nav .break {
  display: none;
}
#nav li {
  display: inline-block;
  position: relative;
  margin: 0 0.6em;
}
#nav .nav-dropdown .nav-link:hover,
#nav .nav-dropdown .nav-link.current {
  border-bottom: none;
}
#nav .nav-dropdown .nav-link.current::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid #91b9cd;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  left: 8px;
}
.nav-link {
  padding-bottom: 3px;
}
.nav-link:hover,
.nav-link.current {
  border-bottom: 3px solid #20a5d6;
}
#logo {
  display: inline-block;
  font-size: 1.5em;
  line-height: 40px;
  color: #6fbde2;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
}
#logo img {
  vertical-align: middle;
  margin-right: 6px;
  width: 40px;
  height: 40px;
}
#mobile-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #fff;
  z-index: 9;
  display: none;
  box-shadow: 0 0 2px rgba(0,0,0,0.25);
}
#mobile-bar .menu-button {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 8px;
  left: 12px;
  background: url("../images/menu.png") center center no-repeat;
  background-size: 24px;
}
#mobile-bar .logo {
  position: absolute;
  width: 30px;
  height: 30px;
  background: url("../images/logo.png") center center no-repeat;
  top: 5px;
  left: 50%;
  margin-left: -15px;
  background-size: 30px;
}
.sidebar {
  position: absolute;
  z-index: 10;
  top: 61px;
  left: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}
.sidebar h2 {
  margin-top: 0.2em;
}
.sidebar ul {
  list-style-type: none;
  margin: 0;
  line-height: 1.5em;
  padding-left: 1em;
}
.sidebar li {
  margin-top: 0.5em;
}
.sidebar .sidebar-inner {
  width: 260px;
  padding: 40px 20px 60px 60px;
}
.sidebar .version-select {
  vertical-align: middle;
  margin-left: 5px;
}
.sidebar .menu-root {
  padding-left: 0;
}
.sidebar .menu-sub {
  font-size: 0.85em;
}
.sidebar .sidebar-link {
  color: #7f8c8d;
}
.sidebar .sidebar-link.current {
  font-weight: 600;
  color: #91b9cd;
}
.sidebar .sidebar-link:hover {
  border-bottom: 2px solid #91b9cd;
}
.sidebar .section-link.active {
  font-weight: bold;
  color: #91b9cd;
}
.sidebar .main-menu {
  margin-bottom: 20px;
  display: none;
  padding-left: 0;
}
@media screen and (max-width: 900px) {
  .sidebar {
    position: fixed;
    z-index: 10;
    background-color: #f9f9f9;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: all 0.4s cubic-bezier(0.4, 0, 0, 1);
    -webkit-transform: translate(-280px, 0);
    transform: translate(-280px, 0);
  }
  .sidebar .sidebar-inner {
    padding: 50px 10px 10px 20px;
    box-sizing: border-box;
  }
  .sidebar .sidebar-inner-index {
    padding: 10px 10px 10px 20px;
  }
  .sidebar .search-query {
    width: 200px;
    margin-bottom: 10px;
  }
  .sidebar .main-menu {
    display: block;
  }
  .sidebar.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
#logo {
  color: #91b9cd;
}
#logo span {
  font-size: 1.2em;
}
#logo img {
  display: none;
}
#logo:hover {
  color: #fff;
}
#logo:active {
  color: #20a5d6;
}
.sidebar {
  display: none;
}
#mobile-bar.top {
  background-color: transparent;
  box-shadow: none;
}
#mobile-bar.top .logo {
  display: none;
}
#hero {
  padding: 40px 40px 30px;
  background-color: #151a1f;
}
#hero .inner {
  margin: 0 auto;
}
#hero .inner .demo-section {
  display: -webkit-flex;
  display: flex;
  height: 320px;
}
#hero .inner .demo-section .demo-code {
  -webkit-flex: initial;
  flex: initial;
  width: 50%;
  min-width: 100px;
}
#hero .inner .demo-section .demo-code pre {
  margin: 0;
  height: 320px;
}
#hero .inner .demo-section .demo-cornerstone {
  position: relative;
  width: 50%;
  -webkit-flex: 1;
  flex: 1;
}
#hero .inner .demo-section .demo-cornerstone #demo-element {
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  margin: 20px;
  overflow: hidden;
  border: 1px solid #91b9cd;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}
#hero .inner .demo-section .demo-cornerstone #demo-element:hover {
  border-color: #6fbde2;
}
#hero .inner .demo-section .demo-cornerstone #demo-element #fullscreen-button {
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 25px;
  font-variant: all-petite-caps;
}
#hero .inner .buttons {
  width: 100%;
  flex: 1;
  text-align: center;
}
#hero h1 {
  font-weight: 300;
  margin: 0;
  font-size: 3.2em;
  color: #e6e6e6;
}
#hero h4 {
  color: #e6e6e6;
  margin: 5px 0;
}
#hero .button {
  margin: 1em 0;
  font-size: 1.05em;
  font-weight: 600;
  letter-spacing: 0.1em;
  min-width: 8em;
  text-align: center;
  background-color: #20a5d6;
  color: #16202b;
  border-color: #16202b;
}
#highlights {
  background-color: #0f1216;
  padding: 35px 0;
}
#highlights .inner {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}
#highlights .point {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 0 2em;
}
#highlights .point h2 {
  color: #91b9cd;
  font-size: 1.5em;
  font-weight: 400;
  margin: 0;
  padding: 0.5em 0;
}
#highlights .point p {
  color: #7f8c8d;
}
#footer {
  padding: 40px 0;
  color: #91b9cd;
  text-align: center;
}
#footer .social-icon {
  margin: 0 5px;
}
#footer .social-icon svg {
  width: 18px;
  height: 18px;
}
#footer a {
  font-weight: 700;
  color: #91b9cd;
}
@media screen and (max-width: 900px) {
  body {
    -webkit-text-size-adjust: none;
    font-size: 14px;
  }
  .sidebar {
    display: block;
  }
  #header {
    display: none;
  }
  #mobile-bar {
    display: block;
  }
  #hero {
    padding: 40px 40px 30px;
  }
  #hero .demo-element {
    float: none;
    margin: 30px 0 15px;
    width: 140px;
    height: 140px;
  }
  #hero .left,
  #hero .right {
    text-align: center;
    width: 100%;
  }
  #hero h1 {
    font-size: 2em;
  }
  #hero h2 {
    display: block;
  }
  #hero .button {
    font-size: 0.9em;
  }
  #highlights .point {
    display: block;
    margin: 0 auto;
    width: 300px;
    padding: 0 40px 30px;
  }
  #highlights .point:before {
    content: "—";
    color: #91b9cd;
  }
}
