<li>
    <a href="https://docs.cornerstonejs.org/"
     class="nav-link">
      Getting Started
    </a>
</li>
<li>
    <a href="https://github.com/cornerstonejs" target="_blank"
       class="nav-link">
        Github
    </a>
</li>
<!--<li>
    <a href=""
       class="nav-link">
        Team
    </a>
</li>-->
