<li>
    <a href="https://rawgit.com/chafey/cornerstone/master/example/index.html"
     class="nav-link">
      Getting Started
    </a>
</li>
<li>
    <a href="https://github.com/cornerstonejs" target="_blank"
       class="nav-link">
        Github
    </a>
</li>
<!--<li>
    <a href=""
       class="nav-link">
        Team
    </a>
</li>-->
